@charset "UTF-8";

form{
    width:500px;
    margin:auto;
}
input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size:12pt;
    background-color: rgba(255,255,255,.6);
}
input:hover, textarea:hover{
    background-color:#dddddd;
}
legend{
    font-family:sans-serif;
    font-weight:bold;
    font-size: 13pt;
    color:#888888;
}
fieldset{
    border-color: #cecece;
    margin:20px;
}
fieldset#sexo{
    width: 150px;   
}
fieldset#usuario{
    background:url(../imagens/icone-contato.png)no-repeat 95% 95%;
}
fieldset#endereco{
    background:url(../imagens/icone-endereco.png)no-repeat 95% 95%;
}
fieldset#msg{
    background:url(../imagens/icone-mensagem.png)no-repeat 95% 95%;
}
fieldset#pedido{
    background:url(../imagens/icone-pagamento.png)no-repeat 95% 95%;
}
